<h1><%= "Contestant: #{@contestant.name}" %></h1>
  <p>Season Number: <%= @contestant.bachelorette.season_number %></p>
  <p>Season Description: <%= @contestant.bachelorette.season_description %></p>
