<h1>Contestant Info</h1>


<p>Name:<%= @contestant.name %></p>
<p>Season <%= @contestant.bachelorette.season_number %> - <%= @contestant.bachelorette.description %></p>

<h4>Outings:</h4>
<% @contestant.outings.each do |outing| %>
<%= link_to outing.name, outing_path(outing.id) %>
<% end %>
