<h1><%= @contestant.name %></h1>
<p><%= @contestant.season_number %></p>
<p><%= @contestant.season_description %></p>

<% @contestant.all_outings.each do |outing| %>
  <p><%= link_to outing.name, "/outings/#{outing.id}" %></p>
<% end %>
