<h1><%= @bachelorette.name %> </h1>
  <br>

<h3>Season: <%= @bachelorette.season_number %> </h3>
  <br>

<h3>Description:</h3>
<p><%= @bachelorette.description %></p>
  <br>

<h3><%= link_to 'Contestants', "/bachelorettes/#{@bachelorette.id}/contestants" %></h3>
