<h1><%= @bachelorette.name %></h1>
<h3><%= @bachelorette.season_number %></h3><br>
<p>"The Most Dramatic Season Yet!"</p>
<%= link_to "Contestants", "/bachelorettes/#{@bachelorette.id}/contestants" %>
