<h1><%= "Bachelorette: #{@bachelorette.name}" %></h1>
  <p>Season Number: <%= @bachelorette.season_number %></p>
  <p>Season Description: <%= @bachelorette.season_description %></p>
  <%= link_to "Bachelorette's Contestants", "/bachelorettes/#{@bachelorette.id}/contestants" %>
