<h3>Bachelorette:</h3>
<section id="attributes">
  <h2><%= @bachelorette.name %></h2>
  <h3><%= "Season #{@bachelorette.season_number} - The Most Dramatic Season Yet!" %></h3>
</section>

<section id="contestants">
  <%= link_to "#{@bachelorette.name}'s Contestants", "/bachelorettes/#{@bachelorette.id}/contestants" %>
</section>
